@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: '\00a0';}
/* common */
body {
  font-family: "NanumSquare", sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: -0.03em;
  background: #ffffff;
}

#wrapper {
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  /*모바일 필수!!*/
  overflow: hidden;
}

#skip-nav {
  position: fixed;
  left: 0;
  top: -40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 16px;
  z-index: 100000;
  transition: top 0.3s;
}
#skip-nav:focus {
  top: 0;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 10000;
  min-width: 320px;
}

#header h1 {
  position: absolute;
  left: 20px;
  top: 50%;
  width: 100px;
  transform: translate(0, -50%);
  line-height: 1px; /*정렬 안 맞는거 수정*/
}
#header h1 a {
  display: block;
}
#header h1 a img:first-child {
  position: absolute;
  left: 0;
  top: 0;
}
#header h1 a img + img {
  opacity: 0;
}

#header a.menu {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}
#header a.menu img:first-child {
  position: absolute;
  left: 0;
  top: 0;
}
#header a.menu img + img {
  opacity: 0;
}
#header.white a.menu img:first-child {
  opacity: 0;
}
#header.white a.menu img + img {
  opacity: 1;
}
#header.white {
  color: #000000;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}
#header.white h1 a img:first-child {
  opacity: 0;
}
#header.white h1 a img + img {
  opacity: 1;
}

#gnb {
  display: none;
}
#top-menu {
  display: none;
}

/* main */

#main-visual {
  height: 100vh;
}

#main-visual div.image-slide {
  height: 100%;
  position: relative;
}

#main-visual div.image-slide ul.slide {
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
}
#main-visual div.image-slide ul.slide > li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/main-visual-01.jpg) center center no-repeat;
  background-size: cover;
  display: none;
}

#main-visual div.image-slide ul.slide > li.on {
  display: block;
}
#main-visual div.image-slide ul.slide > li:nth-child(2) {
  background-image: url(../img/main-visual-02.jpg);
}
#main-visual div.image-slide ul.slide > li:nth-child(3) {
  background-image: url(../img/main-visual-03.jpg);
}
#main-visual div.image-slide ul.slide > li:last-child {
  background-image: url(../img/main-visual-04.jpg);
}

#main-visual div.image-slide ul.slide > li > p {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  transform: translateY(-50%);
  color: white;
  font-size: 13px;
  font-weight: 700;
}
#main-visual div.image-slide ul.slide > li > p > * {
  display: block;
  opacity: 0;
}

#main-visual div.image-slide ul.slide > li > p > span {
  display: block; /*인라인 요소는 translate적용이 안됨*/
  animation: show-up 0.5s ease 1s 1 normal forwards;
}
#main-visual div.image-slide ul.slide > li > p > em {
  display: block;
  font-size: 30px;
  margin-top: 25px;
  line-height: 1.3em;
  animation: show-up 0.5s ease 1.5s 1 normal forwards;
}

@keyframes show-up {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  70% {
    transform: translate(0, -5px);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

#main-visual div.image-slide div.control {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(12, 76, 163, 0.9);
  color: #ffffff;
  font-size: 14px;
}
#main-visual div.image-slide div.control ul.title {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translate(0, -50%);
  height: 16px;
  color: #ffffff;
}
#main-visual div.image-slide div.control ul.title li {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  display: none;
}
#main-visual div.image-slide div.control ul.title li.on {
  display: block;
}
#main-visual div.image-slide div.control a.scroll {
  display: none;
}
#main-visual div.image-slide div.control p.control {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
}
#main-visual div.image-slide div.control p.control a.play {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  vertical-align: middle;
  margin: 0 10px;
}
#main-visual div.image-slide div.control p.control a.play i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#main-visual div.image-slide div.control p.control a.play i:first-child {
  opacity: 1;
}
#main-visual div.image-slide div.control p.control a.play.on i:first-child {
  opacity: 0;
}
#main-visual div.image-slide div.control p.control a.play.on i + i {
  opacity: 1;
}
#main-visual div.image-slide div.control span.page {
  display: none;
}

@keyframes show-up {
  0% {
    transform: translate(0, 50px);
    opacity: 0;
  }
  80% {
    transform: translate(0, -5px);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

body.main #main > section.white {
  padding: 60px 15px;
  background: white;
}
body.main #main > section.gray {
  background: #f5f5f5;
  padding: 60px 15px;
}

body.main #main > section h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}
body.main #main > section h2.sub {
  margin-bottom: 10px;
}
body.main #main > section h2 + p.title {
  text-align: center;
  font-size: 13px;
  margin-bottom: 50px;
}

ul.business-field::after {
  display: block;
  content: "";
  clear: both; /*float 속성 해제시켜서 밑에 글자가 못 흘러오게 함*/
  /*overflow: hidden과 같은 효과*/
}
ul.business-field > li {
  float: left;
  width: calc(50% - 7.5px);
}

ul.business-field > li:nth-child(2n) {
  margin-left: 10px;
}

ul.business-field > li > a {
  display: block;
  position: relative;
}
ul.business-field > li > a > img {
  width: 100%;
}
ul.business-field > li > a div.content {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  z-index: 10;
  opacity: 0;
  transition: opacity 1s;
  font-size: 20px;
  font-weight: 800;
}
ul.business-field > li > a div.content > .desc {
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
}

ul.business-field > li > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -15px;
  width: 108px;
  height: 82px;
  background: url(../img/icon-flag.png) center center no-repeat;
  z-index: 20;
  opacity: 0;
  transition: all 1s;
}

ul.business-field > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 76, 163, 0.9);
  opacity: 0;
  transition: opacity 1s;
}

ul.business-field > li > a:hover div.content {
  opacity: 1;
}
ul.business-field > li > a:hover::before {
  left: -40px;
  top: 100px;
  opacity: 1;
}
ul.business-field > li > a:hover::after {
  opacity: 1;
}

ul.business-field > li > em {
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}
/* animation keyframes */
/*
@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes show-up2 {
  0% {transform: translate(-50%, 50px); opacity: 0;}
  100% {transform: translate(-50%, 0); opacity: 1;}
}
@keyframes btn-effect-right {
  0% {transform: translate(0, 0);}
  100% {transform: translate(5px, 0);}
}

#main-visual ul.slide li.on em {animation: show-up 1.5s ease-out 1s 1 normal forwards;}
*/
