@charset "utf-8";


/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}
/* common */
body {font-family: "NanumSquare", sans-serif;font-size: 14px;color: #000000;letter-spacing: -0.03em;background: #ffffff;}
#wrapper {min-width: 1024px; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.6); color: #ffffff; font-size: 16px; z-index: 100000; transition: top 0.3s;}
#skip-nav:focus {top: 0;}

#header {position: fixed; left: 0; top: 0; width: 100%; height: 100px; z-index: 10000; color: #ffffff; min-width: 1024px;}
#header h1 {position: absolute; left: 50px; top: 50%; transform: translate(0, -50%);}
#header h1 a {display: block;}
#header h1 a img:first-child {position: absolute; left: 0; top: 0;}
#header h1 a img + img {opacity: 0;}

#gnb {position: absolute; left: 50%; transform: translateX(-50%); z-index: 100;}
#gnb > ul > li {float: left;}
#gnb > ul > li + li {margin-left: 35px;}
#gnb > ul > li > a {font-size: 18px; font-weight: 700; line-height: 100px; position: relative; display: block;}
#gnb > ul > li > a::after {content: ""; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0); width: 0; height: 3px; background-color: #3f7ac6; transition: width 0.3s;}
#gnb > ul > li > a:hover, #gnb > ul > li.on > a {color: #3f7ac6;}
#gnb > ul > li > a:hover::after, #gnb > ul > li.on > a::after {width: 100%;}
#gnb > ul > li > ul {position: absolute; top: 140px; left: 50%; transform: translateX(-50%); display: none; width: 150%; text-align: center;}
#gnb > ul > li > ul.on {display: block;}
#gnb > ul > li > ul > li {display: inline-block;}
#gnb > ul > li > ul > li + li {margin-left: 35px;}
#gnb > ul > li > ul > li > a {display: block;font-size: 15px;}
#gnb > ul > li > ul > li > a:hover, #gnb > ul > li > ul > li.on > a {color: #3f7ac6;}

#top-menu {position: absolute; top: 50%; right: 50px; transform: translate(0, -50%); font-size: 14px;}
#top-menu > li {float: left;}
#top-menu > li + li::before {content: "|"; margin: 0 10px; font-size: 10px; color: #ffffff; position: relative; top: -2px;}
#top-menu > li.box {position: relative; top: -4px;}
#top-menu > li.box a {display: inline-block; padding: 3px 8px; border: 1px solid #ffffff;}

#header.white {color: #000000; background: #ffffff; border-bottom: 1px solid #e0e0e0;}
#header.white h1 a img:first-child {opacity: 0;}
#header.white h1 a img + img {opacity: 1;}
#header.white #top-menu > li + li::before {color: #000000;}
#header.white #top-menu > li.box a {border-color: #000000;}

#header.open::after {content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100px; background: #f5f5f5;}

@media screen and (max-width: 1300px) {
  #hedaer h1 {left: 20px;}
  #gnb > ul > li + li {margin-left: 20px;}
  #top-menu {right: 30px;}
  #top-menu > li + li::before {margin: 0 3px;}
}

/* main */
#main-visual {height: 100vh;}
#main-visual div.image-slide {height: 100%; position: relative;}
#main-visual div.image-slide ul.slide {height: 100%; width: 100%; position: absolute; left: 0; top: 0;}
#main-visual div.image-slide ul.slide li {background-image: url("../img/main-visual-01.jpg"); background-size: cover; display: none; position: absolute; left: 0; top: 0; height: 100%; width: 100%;}
#main-visual div.image-slide ul.slide li.on {display: block;}
#main-visual div.image-slide ul.slide li:nth-child(2) {background: url(../img/main-visual-02.jpg) center center no-repeat; background-size: cover;}
#main-visual div.image-slide ul.slide li:nth-child(3) {background: url(../img/main-visual-03.jpg) center center no-repeat; background-size: cover;}
#main-visual div.image-slide ul.slide li:nth-child(4) {background: url(../img/main-visual-04.jpg) center center no-repeat; background-size: cover;}
#main-visual div.image-slide ul.slide li > p {position: absolute; top: 40%;left: 12%; color: white; font-weight: 700;}
#main-visual div.image-slide ul.slide li > p > span {display: block; font-size: 18px; margin-bottom: 25px;}
#main-visual div.image-slide ul.slide li > p > em {font-size: 65px;}
/*#main-visual div.image-slide ul.slide > li.on span {animation: show-up 0.5s ease 1s 1 normal forwards;}
#main-visual div.image-slide ul.slide > li.on em {animation: show-up 0.5s ease 1.5s 1 normal forwards;}*/
#main-visual div.image-slide div.control {position: absolute;bottom: 0; right:0; width: 90%; height:90px;background-color: rgba(12, 76, 163, 0.9); color: #ffffff; font-size: 14px;}
#main-visual div.image-slide div.control ul.title{position: absolute; left:50px; top:50%; transform: translate(0,-50%); height: 12px;}
#main-visual div.image-slide div.control ul.title li{position: absolute; left: 0; top:0; width: 240px;display: none;}
#main-visual div.image-slide div.control ul.title li.on{display: block;}
#main-visual div.image-slide div.control a.scroll{position: absolute; left:50%; top: 50%; transform: translate(-50%,-50%);}
#main-visual div.image-slide div.control p.control{position: absolute; right: 250px; top: 50%; transform: translate(0,-50%)}
#main-visual div.image-slide div.control p.control a.play{position: relative; width: 40px; height: 40px; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 50%; display: inline-block; vertical-align: middle; margin: 0 10px;}
#main-visual div.image-slide div.control p.control a.play i{position: absolute;top: 50%; left: 50%; transform: translate(-50%,-50%); opacity: 0;}
#main-visual div.image-slide div.control p.control a.play i + i{opacity: 1;}
#main-visual div.image-slide div.control p.control a.play i.on{opacity: 1;}
#main-visual div.image-slide div.control p.control a.play i.on + i{opacity: 0;}
#main-visual div.image-slide div.control span.page{position: absolute; right: 150px;top: 50%; transform: translate(0,-50%);}

body.main #main > section.white {padding: 100px 0; background: white;}
body.main #main > section.gray {background: #f5f5f5; padding: 100px 0;}
body.main #main > section.gray::before{content:''; position: relative; left: 50%; top: -140px; display:inline-block; height:80px; border: 1px solid rgba(0, 0, 0, 0.4);}
body.main #main > section > div.box {max-width: 1300px; margin: 0 auto;}
body.main #main > section h2 {text-align: center; font-size: 40px; font-weight: 400; margin-bottom: 50px;}
body.main #main > section h2.sub {margin-bottom: 25px;}
body.main #main > section h2 + p.title {text-align: center; font-size: 16px;margin-bottom: 50px;}

@media screen and (max-width: 1400px) {
  body.main #main > section > div.box {padding: 0 20px;}
}

ul.business-field {/*overflow: hidden;*/}
ul.business-field::after {display: block; content: ""; clear: both; /*float 속성 해제시켜서 밑에 글자가 못 흘러오게 함*/ /*overflow: hidden과 같은 효과*/}
ul.business-field > li {float: left; width: calc(25% - 7.5px);}
ul.business-field > li + li {margin-left: 10px;}
ul.business-field > li > a {display: block; position: relative;}
ul.business-field > li > a > img {width: 100%;}
ul.business-field > li > a div.content {position: absolute; left: 40px; top: 50%; transform: translate(0, -50%); color: white; z-index: 10; opacity: 0; transition: opacity 1s; font-size: 20px; font-weight: 800;}
ul.business-field > li > a div.content > .desc {font-size: 15px; font-weight: 400; margin-top: 30px;}
ul.business-field > li > a::before {content: ""; position: absolute; left: 0; top: -15px; width: 108px; height: 82px; background: url(../img/icon-flag.png) center center no-repeat; z-index: 20; opacity: 0; transition: all 1s;}
ul.business-field > li > a::after {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(12, 76, 163, 0.9); opacity: 0; transition: opacity 1s;}
ul.business-field > li > a:hover div.content {opacity: 1;}
ul.business-field > li > a:hover::before {opacity: 1; left: -40px; top: 100px;}
ul.business-field > li > a:hover::after {opacity: 1;}
ul.business-field > li > em {display: block; text-align: center; line-height: 30px; font-size: 18px;}
@media screen and (max-width: 1400px) {
  ul.business-field > li > a div.content > .desc {font-size: 13px; font-weight: 400; margin-top: 30px;}
}

ul.main-board {width: 100%; background-color: transparent;}
ul.main-board li {width: 100%; height: 130px; background-color: white; position: relative;}
ul.main-board li + li {margin-top: 10px;}
ul.main-board li a em{position: absolute; top: 40px; left: 40px; font-size: 20px;}
ul.main-board li a span.category{position: absolute; top: 50%; right: 100px; transform: translate(0,-50%); font-size: 12px;}
ul.main-board li a span.date{position: absolute; bottom: 40px; left: 40px; font-size: 10px;}

#main-news{background: url('../img/main-report-bg.jpg') center center no-repeat; background-size: cover; height: 400px; color: white; position: relative;}
#main-news::before{content:'';position: absolute; left: 0; top: 0; width:100%; height: 100%; background-color: rgba(12, 76, 163, 0.8); display: block;}
#main-news > *{position: absolute; z-index: 10; left:50%; transform: translate(-50%,0);}
#main-news h2{top: 100px; font-size: 10px;}
#main-news p{top: 50%; transform: translate(-50%,-50%); font-size: 15px;}
#main-news a{bottom: 100px; border: 1px solid #ffffff; padding: 10px 23px;}


div.youtube{height: 615px; box-shadow: 0 30px 30px #8D8D8D;}
p.caption{font-size: 20px; font-weight: 800; position: relative; top: 35px; left: 40px;}
div.intent{position: relative; left: 70%;}
div.intent > a{position: absolute; left: 200px; font-size: 20px;}
div.intent .content{display: none; background-color: white; position: absolute; bottom: 27px; left: -140px; padding: 40px 40px;}

div.intent.on .content{display: block;}
div.intent.on .content .box{height: 250px; width: 450px; overflow: scroll}
div.intent.on .content .box p{margin-bottom: 18px; color:rgba(0, 0, 0, 0.7);}
div.intent.on .content a{position: absolute; top: 20px; right: 20px; color:rgba(0, 0, 0, 0.7); font-size: 18px;}

ul.recruit{height: 320px; overflow: hidden; color: #ffffff}
ul.recruit li{float: left; width: calc(50% - 10px); height: 100%; position: relative;}
ul.recruit li.talent{background-image: url(../img/main-recruit-01.jpg); background-size: cover; margin-right: 20px;}
ul.recruit li.job{background-image: url(../img/main-recruit-02.jpg); background-size: cover;}
ul.recruit li a h3{position: absolute; top: 100px; left:40px; font-size: 35px;}
ul.recruit li a h3 > span{position: absolute; top: -20px; width: 300%; font-size: 14px; font-weight: 500;}
ul.recruit li a p{position: absolute; bottom: 100px; left: 40px;}
  /* animation keyframes */
  /*
  @keyframes show-up {
    0% {transform: translate(0, 50px); opacity: 0;}
    100% {transform: translate(0, 0); opacity: 1;}
  }
  @keyframes btn-effect-right {
    0% {transform: translate(0, 0);}
    100% {transform: translate(5px, 0);}
  }
  
  #main-faq a.more:hover i {animation: btn-effect-right 0.3s ease 0s infinite alternate forwards;}
  
  
  
  .custom-scroll {overflow: auto;}
  .custom-scroll::-webkit-scrollbar {
    width: 10px;
  }
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
  transition: background-color 0.3s;
}
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}


*/

